@import 'tailwindcss';
@plugin 'fluid-tailwind';

@import './utilities.css';
@import './theme.css';
@import './typography.css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PowerGrotesk';
  src: url('/fonts/PowerGrotesk-Regular.ttf') format('truetype');
}

html {
  overflow-x: hidden;
  font-family: 'Archivo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-rows: max-content 1fr; /* Navbar takes max-content, children takes remaining space */
}

.children,
.children-content {
  display: flex;
  flex-direction: column;
}

.children {
  width: 100%; /* Use 100% of available space within parent */
  height: 100%; /* Make sure it grows to fill the available space */
  min-height: 0; /* Important to avoid unwanted overflow in grid children */
  overflow-y: auto; /* Scroll only within the children */
  @apply scrollbar-none; /* Custom Tailwind scrollbar styles */
}

.children-content {
  flex-grow: 1;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.page {
  @apply flex w-full max-w-screen-lg flex-col gap-6 self-center;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Additional variables */
  --color-link: var(--link);
  --color-link-active: var(--link-active);
  --color-link-hover: var(--link-hover);

  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);

  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-active: var(--destructive-active);

  --color-input-hover: var(--input-hover);

  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);

  --color-background-2: var(--background-2);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
